@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Swiper Container -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
            <img src="img/IMG_8.jpeg" alt="Nature">
            <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Nature</h2>
                    <a href="https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
            </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/IMG_9.png" alt="Portrait">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Portrait</h2>
                    <a href="#https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/img_3.jpg" alt="People">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">People</h2>
                    <a href="https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/img_4.jpg" alt="Architecture">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Architecture</h2>
                    <a href="#https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

        <!-- Slide 5 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/img_5.jpg" alt="Animals">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Animals</h2>
                    <a href="https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

        <!-- Slide 6 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/img_6.jpg" alt="Sports">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Sports</h2>
                    <a href="https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

        <!-- Slide 7 -->
        <div class="swiper-slide">
            <div class="image-box position-relative">
                <img src="img/img_7.jpg" alt="Travel">
                <div class="overlay d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                    <h2 class="text-white">Travel</h2>
                    <a href="https://preview.colorlib.com/theme/photon/single.html" class="btn btn-light">More Photos</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Navigation buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

